.simple-marquee-container {
	width: 100%;
	background: var(--primary);
	float: left;
	border-radius: 8px;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer;
}

.simple-marquee-container .marquee-sibling {
	border-radius: 8px;
	background: var(--white);
	border: 2px solid var(--primary);
	width: 20%;
	height: 45px;
	line-height: 42px;
	font-weight: normal;
	color: var(--white);
	text-align: center;
	float: left;
	left: 0;
	z-index: 2000;
}
.marquee-sibling i {
	color: var(--primary);
}

.simple-marquee-container .marquee, .simple-marquee-container *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.simple-marquee-container .marquee{
  margin-left: 25%;
}

.simple-marquee-container .marquee-content-items{
  display: inline-block;
  padding: 5px;
  margin: 0;
  height: 45px;
  position: relative;
}

.simple-marquee-container .marquee-content-items li{
  display: inline-block;
  line-height: 35px;
  color: var(--white);
}

.simple-marquee-container .marquee-content-items li:after{
	content: " ";
	margin: 0 1em;
}
